html, body{
	height: 100%;
	width: 100%;
}

body {
	background-image: url('background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#toolbox {
	float: left;
	width: 400px;
	margin-top: 2.5%;
	margin-left: 1%;
	margin-right: auto;
	visibility: hidden;
	background-color: #CCB38C;
	opacity: 0.95;
}

#Canvas {
	margin-top: 2.5%;
	margin-left: 1%;
	margin-right: auto;
	visibility: hidden;
	background-color: #CCB38C;
	opacity: 0.95;
}

h1 {
	font-family: "Comic Sans Ms";
	font-size: 50px;
	text-align: center;
}

label, p {
	font-family: "Comic Sans MS";
	font-size: 16px;
}

.slidecontainer {
	width: 100%;
}

.slider {
	-webkit-appearance: none;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	background: #996B1F;
	outline: none;
	cursor: pointer;
	opacity: 0.7;
	height: 3px;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	background: brown;
	cursor: pointer;
	border-radius: 999em;
}

.slider::-moz-range-thumb {
	width: 20px;
	height: 20px;
	background: brown;
	cursor: pointer;
	border-radius: 999em;
}

.sizecontainer {
	text-align: center;
}

.fontcontainer {
	text-align: center;
}

.colorpicker {
	text-align: center;
	margin-top: 10%;
	margin-bottom: 5%;
}

.row {
	text-align: center;
}

.row-1 {
	height: 75px;
	width: 75px;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid brown;
	border-radius: 10px;
	opacity: 0.5;
	background-color: #996B1F;
}

.row-2, .row-3, .row-4{
	height: 75px;
	width: 75px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid brown;
	border-radius: 10px;
	opacity: 0.5;
	background-color: #996B1F;
}

.row-1:hover, .row-2:hover, .row-3:hover, .row-4:hover {
	opacity: 1;
}

.filecontainer {
	text-align: center;
}

#upload {
	visibility: hidden;
	width: 0;
}

#upload_img {
	cursor: pointer;
}

input[type="image"]:focus {
	outline: none;
}